<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Surf</servlet-name>
        <servlet-class>Servlet.Surf</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:mysql://localhost:3306/news_db</param-value>
        </init-param>
        <init-param>
            <param-name>DbUserName</param-name>
            <param-value>laul</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>1234</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>Servlet.New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsByTags</servlet-name>
        <servlet-class>Servlet.NewsByTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsByCategorie</servlet-name>
        <servlet-class>Servlet.NewsByCategorie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Surf</servlet-name>
        <url-pattern>/Surf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsByTags</servlet-name>
        <url-pattern>/viewByTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsByCategorie</servlet-name>
        <url-pattern>/viewByCat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Surf</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/error/404.jsp</location>
    </error-page>
</web-app>
